html {
  box-sizing: border-box;
  font-size: 18px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  background-color: #ffffff; }

header {
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  justify-content: space-between;
  max-width: 1000px; }
  header section {
    padding-top: 3px; }

h1 {
  font-family: "Black Han Sans", "Times New Roman", arial, sans-serif;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase; }
  h1 span:nth-of-type(1) {
    color: #44749d; }
  h1 span:nth-of-type(2) {
    color: #c6d4e1; }
  h1 span:nth-of-type(3) {
    color: #bdb8ad; }

h2 {
  position: relative;
  color: #44749d;
  font-family: "Roboto", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase; }
  h2::before {
    content: "";
    position: absolute;
    background-color: #bdb8ad;
    width: 40%;
    height: 2px;
    bottom: -5px;
    left: 30%; }

button {
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 3px solid #44749d;
  border-radius: 7px;
  color: #44749d;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  outline: none;
  width: 125px; }
  button:hover {
    background-color: #c6d4e1;
    cursor: pointer; }
  button.active {
    background-color: #44749d;
    color: #ffffff; }
  button.disabled {
    position: relative;
    background-color: #c6d4e1;
    border: 3px solid #c6d4e1;
    text-decoration: line-through; }
    button.disabled::before {
      content: "";
      position: absolute;
      background-color: #ffffff;
      width: 70%;
      height: 3px;
      top: 16px;
      left: 15%; }
    button.disabled:hover {
      cursor: default; }
  button.small {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 10px;
    width: 50px; }
  button.start-game {
    display: block;
    margin: 25px auto 0 auto;
    padding-bottom: 0;
    border: 0;
    color: #bdb8ad;
    font-family: "Black Han Sans", "Times New Roman", arial, sans-serif;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    width: 400px; }
    button.start-game.hide {
      display: none; }
    button.start-game:hover {
      background-color: transparent;
      color: #44749d; }

.image-selection {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1000px; }
  .image-selection section {
    display: flex;
    justify-content: center;
    padding-top: 25px; }

.game-board {
  display: flex;
  position: relative;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px; }
  .game-board.tiles-20 {
    max-width: 900px; }
  .game-board.tiles-24 {
    max-width: 1100px; }
  .game-board.tiles-32 {
    max-width: 1000px; }
  .game-board section {
    position: relative;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 150px; }
    .game-board section.tiles-32 {
      height: 100px;
      width: 100px; }
    .game-board section.tiles-36 {
      height: 100px;
      width: 100px; }
    .game-board section:hover {
      cursor: pointer;
      box-shadow: 0 0 8px #000000; }
    .game-board section.open {
      box-shadow: none; }
      .game-board section.open::before {
        display: none; }

.center {
  text-align: center; }

.hide {
  display: none; }
