button {
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 3px solid $cobalt;
  border-radius: 7px;
  color: $cobalt;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  outline: none;

  &:hover {
    background-color: $light-blue;
    cursor: pointer;
  }

  &.active {
    background-color: $cobalt;
    color: $white;
  }

  &.disabled {
    position: relative;
    background-color: $light-blue;
    border: 3px solid $light-blue;
    text-decoration: line-through;

    &::before {
      content: "";
      position: absolute;
      background-color: $white;
      width: 70%;
      height: 3px;
      top: 16px;
      left: 15%;
    }

    &:hover { cursor: default; }
  }

  &.small {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 10px;
    width: 50px;
  }

  &.start-game {
    display: block;
    margin: 25px auto 0 auto;
    padding-bottom: 0;
    border: 0;
    color: $tan;
    font-family: $black-han-sans;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    width: 400px;

    &.hide { display: none; }

    &:hover {
      background-color: transparent;
      color: $cobalt;
    }
  }
}
