@import 'normalize';
@import 'mixins';

// color variables ==========
$white: #ffffff;
$black: #000000;

$dark-gray: #434343;

$cobalt: #44749d;
$light-blue: #c6d4e1;
$sand: #eBe7e0;
$tan: #bdb8ad;

// font variables ==========
$black-han-sans: 'Black Han Sans', 'Times New Roman', arial, sans-serif;
$roboto: 'Roboto', 'helvetica neue', helvetica, arial, sans-serif;

// global element styles ==========
body { background-color: $white; }

header {
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  justify-content: space-between;
  max-width: 1000px;

  @include medium {
    padding-right: 25px;
    padding-left: 25px;
  }

  @include small {
    display: block;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }

  section {
    padding-top: 3px;

    button {
      &.game-size-32 { @include medium-down { display: none; } }
      &.game-size-24 { @include small { display: none; } }
      &.game-size-20 { @include small { display: none; } }
      &.game-size-16 { @include small { display: none; } }
    }
  }
}

h1 {
  font-family: $black-han-sans;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;

  @include small {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  @include xsmall {
    font-size: 34px;
    line-height: 38px;
  }

  @include xxsmall {
    font-size: 28px;
    line-height: 32px;
  }

  span {
    &:nth-of-type(1) { color: $cobalt; }
    &:nth-of-type(2) { color: $light-blue; }
    &:nth-of-type(3) { color: $tan; }
  }
}

h2 {
  position: relative;
  color: $cobalt;
  font-family: $roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;

  @include small {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 28px;
    line-height: 32px;
  }

  @include xsmall {
    font-size: 24px;
    line-height: 28px;
  }

  @include xxsmall {
    font-size: 18px;
    line-height: 22px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $tan;
    width: 40%;
    height: 2px;
    bottom: -5px;
    left: 30%;

    @include small {
      width: 80%;
      left: 10%;
    }
  }
}

// button styles ==========
@import 'buttons';

// tile selection control styles ==========
.image-selection {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 850px;

  @include medium {
    max-width: 700px;
  }

  @include small {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
  }

  section {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    flex-wrap: wrap;
  }
}

// game board styles ==========
.game-board {
  display: flex;
  position: relative;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;

  &.tiles-20 { max-width: 900px; }
  &.tiles-24 { max-width: 1100px; }
  &.tiles-32 { max-width: 1000px; }

  section {
    position: relative;
    display: flex;
    margin: 10px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 150px;

    @include small { margin: 5px; }

    &.tiles-16 {
      @include small { height: 80px; width: 80px; }
      @include xxsmall { height: 60px; width: 60px; }
    }

    &.tiles-32 { height: 100px; width: 100px; }
    &.tiles-36 { height: 100px; width: 100px; }

    &.hidden {
      &::before {
        content: "";
        position: absolute;
        display: block;
        background-color: $sand;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &:hover { box-shadow: 0 0 8px $tan; }
    }

    &:hover { cursor: pointer; }

    img {
      max-width: 94%;
      max-height: 94%;
    }
  }
}

// global utility classes ==========
.center { text-align: center; }
.hide { display: none; }



